<p>
  placing-board {{ 'COMMON.WORKS' | translate }}
</p>

<div #boardDiv
     class="field col-12"
>
  <div *ngFor="let row of placedBoard.board;let rowIndex = index"
       class="row row{{rowIndex}}"
  >
    <div *ngFor="let cell of row.row; let columnIndex = index"
         class="square square{{rowIndex}}{{columnIndex}}"
    >
      <div class="inner-color-before-shot inner-color-locator"
           [draggable]="true"
           (dragenter)="dragPlacingBoard.dragEnter($event, rowIndex, columnIndex)"
           (dragleave)="dragPlacingBoard.dragLeave($event, rowIndex, columnIndex)"
           (dragexit)="dragPlacingBoard.dragExit($event, rowIndex, columnIndex)"
      >
        <div *ngIf="cell.isShipHere()"
             class="ship ship1"

             [draggable]="true"

             (dragstart)="dragPlacingBoard.dragStart($event,rowIndex, columnIndex)"
             (dragend)="dragPlacingBoard.dragEnd($event,rowIndex, columnIndex)"
        >
        </div>
      </div>
    </div>
  </div>
</div>

<mat-button-toggle class="col-12"
                   (click)="generateRandomBoard()"
>
  {{ 'PLACING-BOARD.BUTTON' | translate }}
</mat-button-toggle>


