<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ 'HOME.TITLE' | translate }}
  </h1>

  <p> {{ 'HOME.SELECT' | translate }}</p>

  <select #langSelect (change)="languageChange(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang">{{ lang }}
    </option>
  </select>
</div>

<div class="container" style="opacity: 1">

  <p class="col-12">{{message}}</p>
  <p class="col-12">{{data1}}</p>
  <p class="col-12">{{data2}}</p>

  <ul class="col-12">
    <li><a routerLink="configuration/player/name">Config</a></li>
    <li><a routerLink="players/registered">Registered Players</a></li>
  </ul>

  <router-outlet class="col-12"></router-outlet>

</div>
