<h4>
  {{ 'GAME.H2' | translate }}
</h4>

<div>

  <div class="container">
    <div class="row">

      <app-player-board class="col-xs-6"
                        style=" float: left;"
                        (boardDivEmitter)="capturePlayerBoardDiv($event)"
      >
      </app-player-board>

      <app-opponent-board class="col-xs-6"
                          [playerBoardDiv]="playerBoardDiv"
      >
      </app-opponent-board>

      <mat-button-toggle class="col-12"
                         *ngIf="isEndOfGame()"
                         routerLink="configuration/room"
      >
        {{ 'GAME.BUTTON' | translate }}
      </mat-button-toggle>

    </div>
  </div>

</div>
