<p>
  ships-configuration works!
  {{ 'HOME.TITLE' | translate }}
</p>

<div>

  <div class="container">
    <div class="row">

      <app-player-board class="col-xs-6"
                        style=" float: left;"
                        (boardDivEmitter)="capturePlayerBoardDiv($event)"
      >
      </app-player-board>

      <app-opponent-board class="col-xs-6"
                          [playerBoardDiv]="playerBoardDiv"
      >
      </app-opponent-board>

    </div>
  </div>

  <app-ships-to-place class="col-3"
  >

  </app-ships-to-place>

  <app-start-game-button class="col-6"
  >

  </app-start-game-button>

</div>
