<h4>
  {{messageTransfer.opponentBoardMessage}}
</h4>

<div #boardDiv
     class="field col-12"
>
  <div *ngFor="let row of opponentBoard.board; let rowIndex = index"
       class="row row{{rowIndex}}"
  >
    <div *ngFor="let cell of row.row; let columnIndex = index"
         class="square square{{rowIndex}}{{columnIndex}} "
         (click)="handleClick(boardDiv, rowIndex, columnIndex)"
    >
      <div class="inner-color-before-shot inner-color-locator">
      </div>
    </div>
  </div>
</div>

