<div class="container ">
  <p class="col-12">
    configuration-screen works!
  </p>
  <p>
    {{ 'HOME.TITLE' | translate }}
  </p>

  <mat-input-container class="col-12">
    <input type="text" matInput [(ngModel)]="player.name" placeholder="Player name:">
  </mat-input-container>

  <mat-button-toggle class="col-12"
                     (click)="login()"
                     *ngIf="isThereInputFromPlayer()"
  >
    Check if you can play with this name!

  </mat-button-toggle>

  <mat-button-toggle class="col-12"
                     *ngIf="isThereResponseFromBackend()"
                     routerLink="/game/board/{{selectedLanguage}}"
  >
    Hi {{player.name}}! Go to next board

  </mat-button-toggle>

  <p>{{player.name}}</p>
</div>

