<div class="container"
     draggable="true"
     (dragenter)="dragShipService.dragEnter()"
>
  <p>Drag ship here !</p>
  <div *ngFor="let ships of availableShips.shipsWithSomeMast;let arrayMastIndex = index"
  >
    Ships with mast count: {{arrayMastIndex + 1}}

    <div [ngStyle]="{'display':'flex','flex-direction': 'row','justify-content':'space-evenly'}"
         [style.width]="(ships.length) * (arrayMastIndex + 1) * 36 + 'px'"
    >

      <div *ngFor="let ship of ships;let shipInArrayIndex = index"
           [style.width]="(ship.mastCount + 1) * 35 + 'px'"
      >
        Ship:
        <div draggable="true"

             (dragstart)="dragShipService.dragStart($event, availableShips, arrayMastIndex, shipInArrayIndex)"
             (dragend)="dragShipService.dragEnd($event,availableShips, arrayMastIndex, shipInArrayIndex)"

             [ngStyle]="{'display':'flex','flex-direction': shipDirectionHorizontal ? 'row ': 'column',
           'justify-content':'space-evenly'}"
        >
          <div *ngFor="let mast of ship.mastArray"
          >
            <div class="ship1"
            >
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<mat-button-toggle class="col-12"
                   (click)="changeShipsDirection()"
>
  TODO: Change ship to place direction
</mat-button-toggle>
