<div #boardDiv
     class="field col-12"
>
  <div #fakeDiv
       (click)="takeJustBoardDiv(boardDiv)"
  >
  </div>
  <div *ngFor="let row of playerBoard.board;let rowIndex = index"
       class="row row{{rowIndex}}"
  >
    <div *ngFor="let cell of row.row; let x = index"
         class="square square{{rowIndex}}{{x}} "
    >
      <div class="inner-color-before-shot inner-color-locator"
      >
        <div *ngIf="cell.isShipHere()"
             class="ship ship1"
        >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12"
>
  Start: {{result2}} :End
</div>
