<h4>
  {{ 'CONFIGURATION.ROOM.H1' | translate }}
</h4>

<h2>
  {{ 'CONFIGURATION.ROOM.P' | translate }}
</h2>

<mat-list>
  <mat-list-item *ngFor="let room of rooms.roomArray; let roomNumber = index"
                 (click)="joinThatRoom(room.roomName)">
    <p>
      {{roomNumber+1}}: {{room.roomName}}
    </p>
  </mat-list-item>
</mat-list>

<mat-input-container class="col-12">

  <input type="text" matInput [(ngModel)]="roomToCreate.roomName" placeholder="Room to createname:">
</mat-input-container>

<mat-button-toggle class="col-12"
                   (click)="tryCreateRoom()"
>
  Try create room
</mat-button-toggle>
