.lobby-view {
  display: flex;
  justify-content: center;
  .lobby-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;

    .form-container {
      display: flex;
      width: 100%;
      height: 50px;
      margin-bottom: 15px;
    }

    .data-container {
      display: flex;
      flex-grow: 1;
      width: 100%;
      justify-content: space-between;
    }
  }
}