$LIGHT_GREEN: #48DD85;
$GREEN: #00A445;

$YELLOW: #FFEA2D;
$ORANGE: #FF681F;

$LIGHT_BLUE: #5CC3F2;
$BLUE: #2F91E3;
$NAVY: #455F84;


$GHOST_WHITE: #F6F6FF;
$DARK_WHITE: #F2F4F6;
$GRAY: #B9BEC3;
$DARK_GRAY: #485560;

$RED: #FF5F64;